@model IEnumerable<Shop.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "История заказов";
}
<div>
    <a href="/order/" class="btn btn-primary">Посмотреть содержимое корзины</a>
</div>
@foreach (var order in Model)
{
    <table class="table table-bordered" id="table_@order.Id">
        <tr>
        <tr class="active">

            <th>Номер заказа :@order.Number</th>
            <th>Общая сумма заказа :@order.TotalSum руб.</th>
            <th>Статус:<span>@(order.Status == OrderStatus.NotPaid ? "Не оплаченный" : "Оплаченный")</span></th>
        </tr>
        <tr class="success">
            <td>Название товара</td>
            <td>Цена за штуку</td>
            <td>Количество</td>
            <td>Цена с учётом количества</td>
        </tr>
        @foreach (var item in order.OrderItems)
        {
            <tr class="info">
                <td>@item.Name</td>
                <td>@item.Price руб.</td>
                <td>@item.Count</td>
                <td>@item.TotalSum руб.</td>
            </tr>
        }
    </table>
}